body {
  background-image: url('back.jpg');
  background-size: cover;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  color: #81a1c1;
  font-size: 45px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  text-align: center;
}
h3 {
  color: #88c0d0;
  pointer-events: none;
  transform: translate(0%, -100%);
  text-align: center;
  position: absolute;
}

ul {
  transform: translate(-9%, 27%);
  text-align: center;
  position: absolute;
}
li,
a:link {
  font-size: large;
  text-decoration-line: none;
  color: #88c0d0;
  list-style-type: none;
  display: list-item;
  padding: 2px;
  font-size: 22px;
  position: relative;
}
a:after {
  content: '';
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: #88c0d0;
  text-align: center;
  transform: scaleX(0);
  top: 100%;
  left: 0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
a:visited {
  display: list-item;
  color: #88c0d0;
  list-style-type: none;
  text-decoration-line: none;
}
a:hover {
  transition: all 0.5s 0s linear;
  font-size: 27px;
}
a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

#title {
  background-color: #2e3440;
  width: 45%;
  height: 170px;
  border-radius: 25px;
  margin: 30px auto 0;
  transition: 500ms linear;
  position: relative;
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#title:hover {
  width: 47%;
  height: 185px;
}

.box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-around;
  -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.childbox {
  background-color: #2e3440;
  width: 15%;
  height: 300px;
  border-radius: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 500ms linear;
}

.childbox:hover {
  width: 17%;
  height: 310px;
}

@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
